.hero-wrapper {
    width: 100%;
    min-height: 80vh;
    background-color: #262626;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sticky-box {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.responsive-svg {
    width: 100%;
    height: 100%;
    display: block;
}

/* 텍스트 */
text {
    user-select: none;
    pointer-events: none;
}

/* 선 색상 전환 */
path {
    transition: stroke 0.3s ease;
}